body{
  height: 100vh;
  margin:0vh;
  background: rgb(241, 241, 241)
}
/* //////////LOGIN////////LOGIN////////////LOGIN////////////////////LOGIN///////////LOGIN//////////////LOGIN/////////// */
.top{
  margin-top:20vh;
}
.heading{
  color:#1F2833;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 300% !important;
  width: 70vw;
  background:#1F2833;
  text-shadow:
  -1px -1px 0 #66FCF1,
  1px -1px 0 #FFF,
  -1px 1px 0 #FFF,
  1px 1px 0 #FFF;
  border-radius: 5px;
}
.input-space{
  padding:10px;
  margin:5px;
  border:solid #66FCF1 1px;
  background:none;
  border-radius: 5px;
  color:aliceblue;
  
}
.input-space:focus{
  outline: none;
}
.input-space:hover{
  background: #45A29E;
  
}
::placeholder{
  color: aliceblue;
}
.loginContainer{
  width: 70vw;
  background: #1F2833;
  border-radius: 6px;
  height: 30vh;
  padding-top:8vh;
  margin-top:5vh;
}
.loginButton{
  background-color: #66FCF1;
  margin-top:15px;
}
.loginButton:hover{
  background:#45A29E;
  color: aliceblue;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////// */